{% if pagination %}
<div id="pagination">
    {% if pagination.prev %}
    <a href="{{ pagination.prev.link }}" class="pagination-item pagination-prev-next"><span>&laquo;</span> Prev</a>
    {% endif %}
    <div class="pagination-links">
        {% for page in pagination.pages %}
        <a href="{{ page.link }}" class="pagination-item pagination-prev-next{{ page.current ? ' current' : ''}}">{{ page.title }}</a>
        {% endfor %}
    </div>
    {% if pagination.next %}
    <a href="{{ pagination.next.link }}" class="pagination-item pagination-prev-next">Next <span>&raquo;</span></a>
    {% endif %}
</div>
{% endif %}