<div class="container">
  {# Logo #}
  <div class="site-header__logo">
    <a href="{{ site.url }}">
      <img src="{{ Image(options.logo).src | default('Please add logo in Theme Settings') }}" alt="{{Image(options.logo).alt}}">
    </a>
  </div>

  {# Upper Navbar #}
  <div class="site-header__upper">
    <div class="row">
      <div class="col-12">
        <nav class="navbar-nav">
          <ul class="nav-links ml-auto">
            <li class="nav-item">
              <a href="mailto:{{ options.email | default('default@gmail.com') }}"><i class="fa fa-envelope"></i></a>
            </li>
            <li class="nav-item">
              <a class="search-form-link" ><i class="fa fa-search mr-2" aria-hidden="true"></i>Search</a>
              {# <?php get_search_form(); ?> #}
            </li>
            <li class="nav-item">
              <a class="contact-link" href="tel:{{ options.contact_number | default("123456789")}}">Call Us: {{ options.contact_number | default('Please configure your Theme Settings') }}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  {# Lower Navbar #}
  <div class="site-header__lower">
    <div class="row">
    
      <div class="col-12">
        {% include "nav/primary-menu.twig" with { main_menu: main_menu.items } %}
      </div>
    </div>
  </div>

  
  <button id="hamburger" class="hamburger hamburger--slider" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>  
</div>