<div class="card">
  {% if post.thumbnail %}
  <a href="{{ post.link }}">
    <img src="{{ post.thumbnail.src | resize(500) }}" alt="{{ post.title }}">
  </a>
  {% endif %}
  <div class="card-body">
    <p class="post-date">{{ post.date | date('F n, Y')}}</p>
    <a href="{{ post.link }}"><h5 class="post-title">{{ post.title }}</h5></a>
    <p class="post-excerpt">{{ post.preview.length(20).read_more('') }}</p>
    {% if post.preview | escape('esc_html') %}
    <a href="{{ post.link }}" class="post-link">Continue Reading <span>&raquo;</span></a>
    {% endif %}
  </div>
</div>