{% extends "base.twig" %}

{% block hero %}
{% include "/headers/header-page.twig" with { background_image: post.meta('background_image'), post: post } %}
{% endblock %}

{% block content %}
  <section id="education-center-wrapper" class="section">
    <div class="container">
      <div class="row">
        {% if posts %}
        {% for post in posts %}
        <div class="col-md-4 col-lg-4">
          
          {% include "teases/tease-education-center.twig" with { post: post } %}

        </div>
        {% endfor %}
        {% else %}
        <div class="col-md-12 text-center">
          <h2>No posts found.</h2>
        </div>
        {% endif %}


      </div>
      <div class="row">
        <div class="col-12">
          {# Pagination #}
          {% include "partials/pagination.twig" with { pagination: posts.pagination } %}
        </div>
      </div>
    </div>
  </section>

  <section id="education-center-children" class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
          {% filter shortcodes %}
            {% for child in post.children %}
            [button id="btn-white" text="{{ child.title }}" class="btn-white-sm" link="{{ child.link }}"]
            {% endfor %}
          {% endfilter %}
        </div>
      </div>
    </div>
  </section>

 {% for media_item in post.meta('flex') %}
  {% if media_item.acf_fc_layout == 'google_presentation' %}
  <section class="google-slides-container section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 justify-content-center align-self-center">
          <h2 style="text-transform: uppercase;">{{ media_item.title }}</h2>
          <p>{{ media_item.content }}</p>
        </div>
        <div class="col-lg-6">
          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-4by3">
            {{ media_item.embed }}
          </div>					
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  {% if media_item.acf_fc_layout == 'youtube' %}
  <section class="youtube-video-container section">
	<div class="container">
		<div class="row">

			<div class="col-lg-12">
				<h2 class="text-center" style="text-align: center; text-transform: uppercase;">{{ media_item.title }}</h2>
			</div>

			<div class="col-lg-8 mx-auto">
				<!-- 16:9 aspect ratio -->
				<div class="embed-responsive embed-responsive-16by9">
          {{ media_item.embed }}
				</div>

				<div class="video-description">
					{{ media_item.content | wpautop }}
				</div>
			</div>

			
		</div>
	</div>
</section>
  {% endif %}
{% endfor %}
{% endblock %}

{% block misc %}{% endblock %}